<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img alt="Angular Logo" src="/assets/yumlogo.PNG" width="30" height="30" class="d-inline-block align-top">
      <label style="color: white; padding-left: 0.5cm;">A place where food speaks with your plate</label>
    </a>

    <form class="d-flex">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
    </form>

    <!-- Drop down button -->
    <div class="dropdown">
      <button class="btn btn-warning dropdown-toggle" type="button" id="btnDropdownDemo" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filter By
      </button>
      <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
        <a class="dropdown-item" href="#">High to Low</a>
        <a class="dropdown-item" href="#">Low to High</a>
      </div>
    </div>
  </div>
</nav>





<!-- <div class="container-fluid toolbar" role="banner" style="background-color:grey">
  <div class="row">
    <div class="col-xs-3" style="text-align: center;">
      <img width="90" alt="Angular Logo" src="/assets/yumlogo.PNG" />
    </div>
    <div class="col-xs-8 slogan">
      <h2 class="display-5"><em><b><q>A place where food speaks with your plate</q></b></em></h2>
    </div>

    
    <div class="dropdown dropdown-menu-right">
      <button class="btn btn-warning dropdown-toggle" type="button" id="btnDropdownDemo" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filter By
      </button>
      <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
        <a class="dropdown-item" href="#">High to Low</a>
        <a class="dropdown-item" href="#">Low to High</a>
      </div>
    </div>

    <div class="container justify-content-center">
      <div class="col-lg-6">
        <div class="input-group mb-3"> <input type="text" class="form-control input-text"
            placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append"> <button class="btn btn-outline-warning btn-sm" type="button"><i
                class="fa fa-search"></i></button> </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <div class="dropdown dropdown-menu-right">
          <button class="btn btn-warning dropdown-toggle" type="button" id="btnDropdownDemo" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter By
          </button>
          <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
            <a class="dropdown-item" href="#">High to Low</a>
            <a class="dropdown-item" href="#">Low to High</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>  -->